body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff8e1;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

header {
    background-color: #8b0000;
    color: #fff;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
}

header h1 {
    margin: 0;
}

header .btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #fff8e1;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

header .btn:hover {
    background-color: #777;
}

main {
    margin-top: 2rem;
}

.search-container {
    margin-bottom: 2rem;
    text-align: center;
}

.search-container input {
    width: 60%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-container button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.search-container button:hover {
    background-color: #0056b3;
}

.table-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

table th {
    background-color: #f4f4f4;
}

table tbody tr:hover {
    background-color: #f9f9f9;
}

